CREATE DATABASE [Canchas_BD_TPC_Nuevo_2]
GO

USE [Canchas_BD_TPC_Nuevo_2]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canchas](
	[CanchaID] [int] IDENTITY(1,1) NOT NULL,
	[SucursalID] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[EstadoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CanchaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[EstadoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Estados_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosReserva](
	[EstadoReservaID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoReservaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EstadosReserva_Descripcion] UNIQUE NONCLUSTERED 
(
	[Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidades](
	[LocalidadID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocalidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Localidades_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[PagoID] [int] IDENTITY(1,1) NOT NULL,
	[ReservaID] [int] NOT NULL,
	[Importe] [decimal](10, 2) NOT NULL,
	[MedioPago] [varchar](20) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[FechaPago] [datetime2](7) NOT NULL,
	[CodigoAutorizacion] [varchar](50) NULL,
	[Notas] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[PagoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promociones](
	[PromocionID] [int] IDENTITY(1,1) NOT NULL,
	[SucursalID] [int] NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Descuento] [tinyint] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[EstadoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PromocionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[ReservaID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[CanchaID] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
	[PromocionID] [int] NULL,
	[EstadoReservaID] [int] NOT NULL,
	[EstadoPagoID] [int] NOT NULL,
	[EstadoPago] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Roles_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursales](
	[SucursalID] [int] IDENTITY(1,1) NOT NULL,
	[LocalidadID] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[FotoUrl] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[SucursalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Sucursales_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 22/11/2025 12:23:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[RolID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuarios_Usuario] UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Canchas] ADD  DEFAULT ((1)) FOR [EstadoID]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT (sysdatetime()) FOR [FechaPago]
GO
ALTER TABLE [dbo].[Promociones] ADD  DEFAULT ((1)) FOR [EstadoID]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT ((1)) FOR [EstadoReservaID]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT ((1)) FOR [EstadoPagoID]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT ('Pendiente') FOR [EstadoPago]
GO
ALTER TABLE [dbo].[Canchas]  WITH CHECK ADD  CONSTRAINT [FK_Canchas_Estado] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estados] ([EstadoID])
GO
ALTER TABLE [dbo].[Canchas] CHECK CONSTRAINT [FK_Canchas_Estado]
GO
ALTER TABLE [dbo].[Canchas]  WITH CHECK ADD  CONSTRAINT [FK_Canchas_Sucursal] FOREIGN KEY([SucursalID])
REFERENCES [dbo].[Sucursales] ([SucursalID])
GO
ALTER TABLE [dbo].[Canchas] CHECK CONSTRAINT [FK_Canchas_Sucursal]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Reserva] FOREIGN KEY([ReservaID])
REFERENCES [dbo].[Reservas] ([ReservaID])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Reserva]
GO
ALTER TABLE [dbo].[Promociones]  WITH CHECK ADD  CONSTRAINT [FK_Promociones_Estado] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estados] ([EstadoID])
GO
ALTER TABLE [dbo].[Promociones] CHECK CONSTRAINT [FK_Promociones_Estado]
GO
ALTER TABLE [dbo].[Promociones]  WITH CHECK ADD  CONSTRAINT [FK_Promociones_Sucursal] FOREIGN KEY([SucursalID])
REFERENCES [dbo].[Sucursales] ([SucursalID])
GO
ALTER TABLE [dbo].[Promociones] CHECK CONSTRAINT [FK_Promociones_Sucursal]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Cancha] FOREIGN KEY([CanchaID])
REFERENCES [dbo].[Canchas] ([CanchaID])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Cancha]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_EstadoPago] FOREIGN KEY([EstadoPagoID])
REFERENCES [dbo].[EstadosReserva] ([EstadoReservaID])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_EstadoPago]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_EstadoReserva] FOREIGN KEY([EstadoReservaID])
REFERENCES [dbo].[EstadosReserva] ([EstadoReservaID])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_EstadoReserva]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Promocion] FOREIGN KEY([PromocionID])
REFERENCES [dbo].[Promociones] ([PromocionID])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Promocion]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Usuario]
GO
ALTER TABLE [dbo].[Sucursales]  WITH CHECK ADD  CONSTRAINT [FK_Sucursales_Localidad] FOREIGN KEY([LocalidadID])
REFERENCES [dbo].[Localidades] ([LocalidadID])
GO
ALTER TABLE [dbo].[Sucursales] CHECK CONSTRAINT [FK_Sucursales_Localidad]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Rol] FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([RolID])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Rol]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD CHECK  (([Estado]='RECHAZADO' OR [Estado]='APROBADO'))
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD CHECK  (([MedioPago]='EFECTIVO' OR [MedioPago]='DEBITO' OR [MedioPago]='CREDITO' OR [MedioPago]='FAKE'))
GO
ALTER TABLE [dbo].[Promociones]  WITH CHECK ADD  CONSTRAINT [CHK_Promociones_Descuento] CHECK  (([Descuento]>=(0) AND [Descuento]<=(100)))
GO
ALTER TABLE [dbo].[Promociones] CHECK CONSTRAINT [CHK_Promociones_Descuento]
GO
ALTER TABLE [dbo].[Promociones]  WITH CHECK ADD  CONSTRAINT [CHK_Promociones_Fechas] CHECK  (([FechaFin]>[FechaInicio]))
GO
ALTER TABLE [dbo].[Promociones] CHECK CONSTRAINT [CHK_Promociones_Fechas]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [CHK_Reservas_Horas] CHECK  (([HoraFin]>[HoraInicio] AND [HoraInicio]>='07:00' AND [HoraFin]<='23:59'))
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [CHK_Reservas_Horas]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_FakeCobroReserva]
    @ReservaID   INT,
    @MedioPago   VARCHAR(20) = 'FAKE'
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Reservas WHERE ReservaID = @ReservaID)
    BEGIN
        RAISERROR('Reserva inexistente.', 16, 1);
        RETURN;
    END;

    DECLARE @Fecha DATE, @HIni TIME, @HFin TIME;
    SELECT @Fecha = Fecha, @HIni = HoraInicio, @HFin = HoraFin
    FROM Reservas 
    WHERE ReservaID = @ReservaID;

    DECLARE @TarifaHora DECIMAL(10,2) = 6000.00;
    DECLARE @Minutos INT = DATEDIFF(MINUTE, @HIni, @HFin);
    DECLARE @Horas   DECIMAL(10,2) = @Minutos / 60.0;
    DECLARE @Importe DECIMAL(10,2) = ROUND(@Horas * @TarifaHora, 2);

    INSERT INTO Pagos (ReservaID, Importe, MedioPago, Estado, CodigoAutorizacion, Notas)
    VALUES (@ReservaID, @Importe, @MedioPago, 'APROBADO',
            CONCAT('FAKE-', CONVERT(VARCHAR(36), NEWID())),
            'Pago ficticio aprobado');

    DECLARE @EstadoConfirmada INT;

    SELECT @EstadoConfirmada = EstadoReservaID
    FROM EstadosReserva
    WHERE Descripcion = 'Confirmada';

    IF @EstadoConfirmada IS NOT NULL
    BEGIN
        UPDATE Reservas
        SET EstadoPagoID    = @EstadoConfirmada,
            EstadoReservaID = @EstadoConfirmada
        WHERE ReservaID = @ReservaID;
    END;

    SELECT SCOPE_IDENTITY() AS PagoID, @Importe AS Importe, 'APROBADO' AS Estado;
END;
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---------------------------------------------------
-- STORED PROCEDURES
---------------------------------------------------

CREATE PROCEDURE [dbo].[SP_RegistrarUsuarios] 
    @Usuario  VARCHAR(50),
    @Nombre   VARCHAR(50),
    @Apellido VARCHAR(50),
    @Password VARCHAR(50),
    @RolID    INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Usuarios WHERE Usuario = @Usuario)
    BEGIN
        PRINT 'Error: El nombre de usuario ya existe.';
        RETURN;
    END;

    INSERT INTO Usuarios (Usuario, Nombre, Apellido, Password, RolID)
    VALUES (@Usuario, @Nombre, @Apellido, @Password, @RolID);

    PRINT 'Usuario registrado exitosamente.';
END;
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_ReservasOK]
 @UsuarioID INT,
 @CanchaID INT,
 @Fecha DATE,
 @HoraInicio TIME,
 @HoraFin TIME,
 @PromocionID INT = NULL
AS
BEGIN
  SET NOCOUNT ON;

  IF (@HoraInicio < '07:00' OR @HoraFin > '23:59' OR @HoraFin <= @HoraInicio)
    THROW 50001, 'Horario inválido: 07:00–23:59 y HoraFin > HoraInicio.', 1;

  IF EXISTS (
    SELECT 1 FROM Reservas
    WHERE CanchaID = @CanchaID 
      AND Fecha   = @Fecha
      AND HoraInicio < @HoraFin 
      AND HoraFin    > @HoraInicio
  )
    THROW 50002, 'La cancha ya está reservada en ese horario.', 1;

  INSERT INTO Reservas 
        (UsuarioID, CanchaID, Fecha, HoraInicio, HoraFin, PromocionID, EstadoReservaID, EstadoPagoID)
  VALUES (@UsuarioID, @CanchaID, @Fecha, @HoraInicio, @HoraFin, @PromocionID, 1, 1);

  SELECT CAST(SCOPE_IDENTITY() AS INT) AS NewReservaID;
END;
GO

BEGIN TRAN;

------------------------------------------------------------
-- Catálogos / estados
------------------------------------------------------------
SET IDENTITY_INSERT dbo.Estados ON;
INSERT INTO dbo.Estados (EstadoID, Nombre)
VALUES (1,'Activo'), (2,'Inactivo');
SET IDENTITY_INSERT dbo.Estados OFF;

SET IDENTITY_INSERT dbo.EstadosReserva ON;
INSERT INTO dbo.EstadosReserva (EstadoReservaID, Descripcion)
VALUES (1,'Pendiente'), (2,'Confirmada'), (3,'Cancelada');
SET IDENTITY_INSERT dbo.EstadosReserva OFF;

------------------------------------------------------------
-- Localidades / Sucursales
------------------------------------------------------------
SET IDENTITY_INSERT dbo.Localidades ON;
INSERT INTO dbo.Localidades (LocalidadID, Nombre)
VALUES (1,'Buenos Aires'), (2,'La Plata');
SET IDENTITY_INSERT dbo.Localidades OFF;

SET IDENTITY_INSERT dbo.Sucursales ON;
INSERT INTO dbo.Sucursales (SucursalID, LocalidadID, Nombre, FotoUrl)
VALUES
(1, 1, 'Sucursal Centro', 'https://via.placeholder.com/350x200.png?text=Sucursal+Centro'),
(2, 2, 'Sucursal Sur',    'https://via.placeholder.com/350x200.png?text=Sucursal+Sur');
SET IDENTITY_INSERT dbo.Sucursales OFF;

------------------------------------------------------------
-- Roles / Usuarios
------------------------------------------------------------
SET IDENTITY_INSERT dbo.Roles ON;
INSERT INTO dbo.Roles (RolID, Nombre)
VALUES (1,'Admin'), (2,'Cliente');
SET IDENTITY_INSERT dbo.Roles OFF;

SET IDENTITY_INSERT dbo.Usuarios ON;
INSERT INTO dbo.Usuarios (UsuarioID, Usuario, Nombre, Apellido, Password, RolID)
VALUES
(1,'admin',    'Admin',    'General', 'Admin#123', 1),
(2,'santiago', 'Santiago', 'Cabrera', 'Santi#123', 2),
(3,'maria',    'María',    'Gómez',   'Maria#123', 2);
SET IDENTITY_INSERT dbo.Usuarios OFF;

------------------------------------------------------------
-- Canchas
------------------------------------------------------------
SET IDENTITY_INSERT dbo.Canchas ON;
INSERT INTO dbo.Canchas (CanchaID, SucursalID, Nombre, EstadoID)
VALUES
(1,1,'Cancha 1',1),
(2,1,'Cancha 2',1),
(3,2,'Cancha 3',1),
(4,2,'Cancha 4',1);
SET IDENTITY_INSERT dbo.Canchas OFF;

------------------------------------------------------------
-- Promociones (EstadoID -> Estados)
------------------------------------------------------------
SET IDENTITY_INSERT dbo.Promociones ON;
INSERT INTO dbo.Promociones (PromocionID, SucursalID, Descripcion, Descuento, FechaInicio, FechaFin, EstadoID)
VALUES
(1,1,'Black Padel 20%',        20, '2025-11-01', '2025-12-31', 1),
(2,2,'Mañanas 15% (8 a 12 h)', 15, '2025-11-01', '2025-11-30', 1),
(3,1,'Promo vencida (test)',   10, '2025-09-01', '2025-09-30', 2);
SET IDENTITY_INSERT dbo.Promociones OFF;

------------------------------------------------------------
-- Reservas (EstadoReservaID / EstadoPagoID -> EstadosReserva)
-- Cumplen CHK_Reservas_Horas y no se superponen en la misma cancha
------------------------------------------------------------
SET IDENTITY_INSERT dbo.Reservas ON;
INSERT INTO dbo.Reservas
(ReservaID, UsuarioID, CanchaID, Fecha,       HoraInicio, HoraFin, PromocionID, EstadoReservaID, EstadoPagoID, EstadoPago)
VALUES
(1, 2, 1, '2025-11-24', '09:30', '10:30', 1, 2, 2, 'Aprobado'),
(2, 3, 2, '2025-11-25', '19:00', '20:00', NULL, 1, 1, 'Pendiente'),
(3, 2, 3, '2025-11-26', '08:00', '09:00', NULL, 3, 3, 'Rechazado');
SET IDENTITY_INSERT dbo.Reservas OFF;

------------------------------------------------------------
-- Pagos (usa check de Estado y MedioPago)
------------------------------------------------------------
INSERT INTO dbo.Pagos (ReservaID, Importe, MedioPago, Estado,    CodigoAutorizacion, Notas)
VALUES
(1, 6000.00, 'DEBITO',  'APROBADO',  'MAN-0001', 'Semilla: pago de reserva 1'),
(3, 6000.00, 'CREDITO', 'RECHAZADO', 'MAN-0002', 'Semilla: pago rechazado (prueba)');

COMMIT;





